* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--animate-duration: 2000ms;
	--animate-delay: 0.9s;
}

/* PRELOADER */

#preloader {
	background: #091244;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.status {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%);
	/* margin-left: -117px;
	margin-top: -117px; */
}
#loader path:nth-child(1) {
	stroke-dasharray: 604.4829711914062;
	stroke-dashoffset: 604.4829711914062;
	animation: line-anime 3s ease forwards;
}
#loader path:nth-child(2) {
	stroke-dasharray: 463.9679870605469;
	stroke-dashoffset: 463.9679870605469;
	animation: line-anime 3s ease forwards 0.3s;
}
#loader path:nth-child(3) {
	stroke-dasharray: 336.6719970703125;
	stroke-dashoffset: 336.6719970703125;
	animation: line-anime 3s ease forwards 0.6s;
}
#loader path:nth-child(4) {
	stroke-dasharray: 490.2921142578125;
	/* stroke-dashoffset: 4490.2921142578125;
	animation: line-anime 3s ease forwards 0.9s; */
}
#loader path:nth-child(5) {
	stroke-dasharray: 508.5520935058594;
	stroke-dashoffset: 508.5520935058594;
	animation: line-anime 3s ease forwards 1.2s;
}
#loader path:nth-child(6) {
	stroke-dasharray: 508.5523681640625;
	stroke-dashoffset: 508.55236816406258;
	animation: line-anime 3s ease forwards 1.5s;
}
#loader path:nth-child(7) {
	stroke-dasharray: 226.94400024414062;
	stroke-dashoffset: 226.94400024414062;
	animation: line-anime 3s ease forwards 1.8s;
}
@keyframes line-anime {
	to {
		stroke-dashoffset: 0;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* header */

.bg-full {
	background: rgb(255, 195, 168);
	background: rgb(241, 251, 255);
	background: #062660;
}
.text {
	color: #333;
	color: #f3f3f3;
	font-family: 'Source Sans Pro', sans-serif;
}
#typed {
	font-size: calc(1.075rem + 1.1vw);
	text-align: center;
}
.port {
	padding: 1px;
	background: #062660;
}
.bg-ful {
	background: rgb(92, 72, 63);
	background: rgb(9, 69, 104);
	background: #0a3a90;
}
.text2 {
	color: #fff;
}
.text3 {
	color: rgb(9, 69, 104);
	color: #e5980c;
	font-weight: 600;
	line-height: 30px;
}
.text-italics {
	font-style: italic;
}
.icon-span {
	color: #d43300;
	color: #e5980c;
}

/* CARDS */
.web {
	display: none;
}
.card {
	/* background: rgba(255, 255, 255, 0.1); */
	background: #0a3a90;
	border: 0.868982px solid #ffffff;
	border: 0.868982px solid #d43300;
	box-shadow: 1px 2px 15px rgb(73, 70, 70);

	border-radius: 3px;
}
li {
	list-style: none;
	border: 2px solid #d43300;
	color: #f3f3f3;
	padding: 5px;
	margin-top: 0.5rem;
	border-radius: 3px;
	font-weight: bold;
	/* background: rgb(163, 233, 255); */
}
ul {
	padding: inherit;
}
h2 {
	font-size: calc(1.025rem + 0.9vw);
}
h1 {
	font-size: calc(1.175rem + 1.5vw);
}

.button {
	border-radius: 3px;
	font-weight: bold;
	transition: all 0.3s linear;
	background: #2f80ed;
	background: #d43300;
	color: #ffffff;
	padding: 0.5rem;
	width: 50%;
}

.button:hover {
	background: #f1f2f3;
	color: #d43300;
	box-shadow: 1px 1px 1px 1px #d43300;
}
.med-link {
	color: #d43300;
}

.text-title {
	background-image: linear-gradient(119.32deg, #1960aa 32.02%, #4045cb 95.5%);
	background-image: linear-gradient(119.32deg, #ffc628 32.02%, #db970e 95.5%);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: bold;
}
.text-title {
	/* -webkit-text-fill-color: #ffffff;
	-moz-text-fill-color: #ffffff; */

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Ellipse9_6 {
	animation: zoom 3s linear infinite;
	transform-origin: 49% 94%;
}

@keyframes zoom {
	0% {
		transform: rotate(-360deg);
		/* transform-origin: 5% 30%; */
	}
	100% {
		/* opacity: 1; */
		transform: rotate(360deg);
	}
	/* 100% {
		opacity: 1;
		transform: scale(1);
	} */
}

/* FOOTER */

.social-icon {
	font-size: 1.5rem;
	color: rgb(9, 69, 104);
}
hr {
	width: 100%;
	border: 1px solid #8f8080;
}
.foot-sec {
	flex-wrap: wrap;
}
.foot-copy {
	color: #2f80ed;
}

@media all and (min-width: 992px) {
	.mobile {
		display: none;
	}
	.web {
		display: flex;
	}

	.button {
		width: 10%;
	}
	h1 {
		font-size: calc(1.275rem + 1.2vw);
	}
	h2 {
		font-size: calc(1.225rem + 0.6vw);
	}
	.social-icon {
		font-size: 2rem;
	}
}

@media all and (min-width: 1200px) {
}

@media all and (min-width: 1400px) {
}
