* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--animate-duration: 2s;
}

/* PRELOADER */

#preloader {
	background: #01182b;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.status {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	/* margin-left: -117px;
	margin-top: -117px; */
	animation: fill-white 1s ease forwards 3s;
}
#loader {
	width: 100%;
}

#loader path:nth-child(1) {
	stroke-dasharray: 611.8634033203125;
	stroke-dashoffset: 611.8634033203125;
	animation: line-anime 2s ease forwards 0.3s, fill-white 2s ease 2s forwards;
}
#loader path:nth-child(2) {
	stroke-dasharray: 544.0450439453125;
	stroke-dashoffset: 544.0450439453125;
	animation: line-anime 2s ease forwards 0.4s, fill-white 2s ease 2s forwards;
}
#loader path:nth-child(3) {
	stroke-dasharray: 439.681640625;
	stroke-dashoffset: 439.681640625;
	animation: line-anime 2s ease forwards 0.6s, fill-white 2s ease 2s forwards;
}
#loader path:nth-child(4) {
	stroke-dasharray: 519.6200561523438;
	stroke-dashoffset: 519.6200561523438;
	animation: line-anime 2s ease forwards 0.8s, fill-white 2s ease 2s forwards;
}
#loader path:nth-child(5) {
	stroke-dasharray: 417.81146240234375;
	stroke-dashoffset: 417.81146240234375;
	animation: line-anime 2s ease forwards 1s, fill-white 2s ease 2s forwards;
}
#loader path:nth-child(6) {
	stroke-dasharray: 417.8115234375;
	stroke-dashoffset: 417.8115234375;
	animation: line-anime 2s ease forwards 1.2s, fill-white 2s ease 2s forwards;
}
#loader path:nth-child(7) {
	stroke-dasharray: 273;
	stroke-dashoffset: 273;
	animation: line-anime 2s ease forwards 1.4s, fill-white 2s ease 2s forwards;
}
@keyframes line-anime {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill-white {
	from {
		fill: transparent;
	}
	to {
		fill: #fff;
	}
}
/* .animate__animated.animate__bounce {
	--animate-duration: 3s;
	--animate-delay: 10s;
} */

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	background: #062660;
	background: #021a38;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* header */
/* 
.bg-full {
	background: rgb(255, 195, 168);
	background: rgb(241, 251, 255);
	background: #062660;
} */
.text {
	color: #f3f3f3;
	font-family: 'Source Sans Pro', sans-serif;
}
#typed {
	font-size: calc(1.075rem + 1.1vw);
	text-align: center;
}
.profi {
	width: 70%;
	text-align: center;
}
.profi img {
	filter: drop-shadow(5px 5px 5px rgb(195, 195, 204));
}
.port {
	padding: 1px;
}
.bg-ful {
	background: #f3f3f3;
	padding: 1px;
}
.text2 {
	color: #062660;
	font-family: 'Source Sans Pro', sans-serif;
}

/* .text3 {
	color: rgb(9, 69, 104);
	color: #eccc14;
	font-weight: 600;
	line-height: 30px;
} */
.text-italics {
	font-style: italic;
}
.icon-span {
	color: #e5980c;
}

/* CARDS */
.web {
	display: none;
}
.card {
	/* background: rgba(255, 255, 255, 0.1); */
	/* background: #0a3a90; */

	border: 0.868982px solid #d43300;
	/* border: 0.868982px solid #604006; */
	box-shadow: 1px 2px 15px rgb(73, 70, 70);

	border-radius: 3px;
}
li {
	list-style: none;
	/* border: 2px solid #d43300;
	border: 2px solid #604006; */
	color: #f3f3f3;
	padding: 5px;
	margin-top: 0.5rem;
	border-radius: 3px;
	font-weight: bold;
	/* background: rgb(163, 233, 255); */
}
ul {
	padding: inherit;
}
h2 {
	font-size: calc(1.025rem + 0.9vw);
}
h1 {
	font-size: calc(1.175rem + 1.5vw);
}

.button {
	border-radius: 3px;
	font-weight: bold;
	transition: all 0.3s linear;
	background: #b98b0a;
	color: #ffffff;
	padding: 0.5rem;
	width: 50%;
}

.button:hover {
	background: #f1f2f3;

	color: #b98b0a;

	box-shadow: 1px 1px 1px 1px #b98b0a;
}
.med-link {
	color: #b98b0a;
}

.text-title {
	background-image: linear-gradient(119.32deg, #eccc14 32.02%, #ffeb7b 95.5%);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.text-title {
	/* -webkit-text-fill-color: #ffffff;
	-moz-text-fill-color: #ffffff; */

	text-shadow: 0px 4px 4px rgba(212, 191, 70, 0.25);
}
.bannertext {
	color: #fff;
}
#Ellipse9_6 {
	animation: zoom 3s linear infinite;
	transform-origin: 49% 94%;
}

@keyframes zoom {
	0% {
		transform: rotate(-360deg);
		/* transform-origin: 5% 30%; */
	}
	100% {
		/* opacity: 1; */
		transform: rotate(360deg);
	}
	/* 100% {
		opacity: 1;
		transform: scale(1);
	} */
}

/* FOOTER */

.social-icon {
	font-size: 1.5rem;
	color: rgb(228, 234, 238);
}
hr {
	width: 100%;
	border: 1px solid #8f8080;
}
.foot-sec {
	flex-wrap: wrap;
}
.foot-copy {
	color: #ccd8e7;
}
.logo {
	width: 35%;
}

@media all and (min-width: 992px) {
	#loader {
		width: unset;
	}
	.mobile {
		display: none;
	}
	.web {
		display: flex;
	}
	.logo {
		width: 37%;
	}
	.profi {
		text-align: center;
		width: 25%;
	}

	.button {
		width: 10%;
	}
	h1 {
		font-size: calc(1.275rem + 1.2vw);
	}
	h2 {
		font-size: calc(1.225rem + 0.6vw);
	}
	.social-icon {
		font-size: 2rem;
	}
}

@media all and (min-width: 1200px) {
}

@media all and (min-width: 1400px) {
}
